.panel-sidepanel {
  border-bottom-right-radius: 0px;
  padding-bottom: 0px;
  background: $sidepanel-collapse-background;
  z-index: 11;
  padding-left: 0px;
  padding-right: 0px;
  .img-circle {
    border: 0px;
  }
  .panel-default {
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
    .list-unstyled {
      margin-bottom: 0px;
    }
    .panel-body {
      padding: 0px;
    }
    .panel-body-content {
      padding: $sidepanel-body-content-padding;
    }
  }
  .collapse .panel-body {
    background: $sidepanel-collapse-background;
    .list-group .list-group-item {
      .lead {
        color: $sidepanel-collapse-list-group-item-lead;
      }
    }
  }
  .sidepanel-footer {
    visibility: hidden;
    height: 0px;
    padding: 0px;
  }
  .info {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .title {
    color: white;
    background: $sidepanel-list-title-background;
  }
  .hello {
    background: $sidepanel-list-hello-background;
    box-shadow: 0px 0px 100px 5px $sidepanel-list-hello-shadow inset;
    .lead {
      color: $sidepanel-list-hello-lead;
    }
  }
  .info {
    padding-top: 20px;
    p {
      white-space: normal;
    }
  }
  .lanjut {
    padding: 0px 15px 0px 15px;
  }
}
