body {
  background: $body-background;
  overflow-x: hidden;
}
.full-width {
  padding: 0px;
}
.panel-content-container {
  margin-top: 50px;
  margin-left: 1px;
  width: 100%;
  z-index: 1;
  padding-top: 2%;
  overflow: auto;
}
.panel-collapse {
  background: $sidepanel-collapse-background;
  visibility: hidden;
  height: 0px;
}
.lead {
  margin-top: 0px;
  margin-bottom: 0px;
}
mark {
  color: $mark-color;
  background-color: $mark-background;
}
blockquote {
  margin-bottom: 0px;
  border: 0px;
  padding-left: 0px;
  padding-top: 5px;
  footer {
    color: $blockquote-footer-color;
  }
}
.list-group {
  margin: 0px;
}
.list-group-item {
  border-radius: 0px !important;
  border: 0px !important;
  background: $sidepanel-collapse-background;
}
